body {
    height: 100vh;
    background-image: url("resource/images/back.jpg");
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px ;
    background-color: rgba(193, 171, 136, 1);
    height: 60px;
    font-size: 40px;
    color: rgba(78, 61, 18, 1);
    font-family: 'Arima', cursive;
    font-weight: bold;
}

header button{
    border-radius: 10px;
    border: none;
    background-color: rgba(248, 245, 178, 1);
    color: rgba(78, 68, 19, 1);
}

.form--background{
    width: 1000px;
    height: 600px;
    background-color: rgba(217, 217, 217, 0.7);
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.search--fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.search{
    font-size: 25px;
}

.genre{
    font-size: 27px;
    border: none;
}

.type{
    font-size: 27px;
}