header button{
    border-radius: 10px;
    border: none;
    background-color: rgba(248, 245, 178, 1);
    color: rgba(78, 68, 19, 1);
}

.form--background{
    width: 1000px;
    height: 600px;
    background-color: rgba(217, 217, 217, 0.7);
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.search--fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.search{
    font-size: 25px;
}

.genre{
    font-size: 27px;
    border: none;
}

.type{
    font-size: 27px;
}

.form--bg{
    height: 550px;
    width: 800px;
    background-color: rgba(217, 217, 217, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inner--buttons{
    display: flex;
    justify-content: space-between;
}

.book--list{
    margin-top: 50px;
    font-size: 25px;
    border-spacing: 12px;
}

.prompt--unreg{
    font-size: 24px;
    color: rgba(65, 65, 65, 0.6);
    text-align: right;
}
